*.tfstate
*.tfstate.*


.terraform/


*.tfvars.json
override.tf
override.tf.json

# Ignorar logs de quebra do Terraform
crash.log


npm-debug.log*
yarn-debug.log*
yarn-error.log*


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.DS_Store
Thumbs.db
.vscode/
.idea/







