# === Chaves de Segurança e Credenciais (CRÍTICO) ===
Devops-Automation.pem
*.pem
*.key
*.pub
credentials
.aws/
.env

# === Arquivos e Estados do Terraform ===
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# === Docker e Logs ===
*.log
.docker/

# === Dependências de Código (Node / Python) ===
node_modules/
dist/
build/
__pycache__/
*.pyc